#pages {
  > * {
    display: none;
  }

  .active {
    display: block;
  }
}

.home-wrapper{
  margin: 0 auto;
  padding: 250px ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  max-width: 1200px;
}

.home-widget{
  max-width: 500px;
  margin: 0 auto;
  padding-top: 10px;
}