
/*main*/
#pages {
  > * {
    display: none;
  }

  .active {
    display: block;
  }
}

.home-wrapper{
  margin: 0 auto;
  padding: 250px ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  max-width: 1200px;
}

.home-widget{
  margin: 5px auto;
  max-width: 800px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.home-buttons{
  padding-bottom: 42px;
}

.home-form{
  display: flex;
  z-index: 10;
  text-align: center;
  margin: 5px auto;
  padding-top: 56px;
}

.text{
  display: flex;
  position: absolute;
  text-align: center;
  margin: 0 65px;
  z-index: 6;
  line-height: 8px;

  a{
    text-decoration: none;
    color: white;
  }

  h1{
    font-size: 28px;
    margin-top: 60px;
  }
  
  p{
    opacity: 0;

    &:hover{
      opacity: 1;
      transition-duration: 1s;
    }
  }
}

.order-image{
  position: relative;
  object-fit: cover;
  margin-right: 5px;
  width: 377px;
  height: 150px;
}

.opening-hours{
  position: relative;
  height: 85px;
  max-width: 760px;
  display: flex;
  justify-content: center;
  background-color: #e17055;
  margin-bottom: auto;
  color: white;
  object-fit: cover;
  padding-left: 5px;
    
  h1{
    margin-top: 10px;
    padding-top: 5px;
    position: absolute;
    color: white;  
  }

  p{
    margin-top: 10px;
    padding-top: 40px;
    position: relative;
    color: white;
    font-size: 15px;
  }
}

/*carousel*/
.main-carousel{
  max-width: 800px;
  margin: auto;
  padding-left: 5px;
  padding-top: 60px;
  margin-top: 36px;
}

.carousel-text{
  margin-left: 40px;
  margin-top: 50px;
  text-align: left;
  color: black;
  background: $color-light;
}

.carousel-item{
  width: 100%;
  height: 300px;
  border-bottom: 1px solid lighten($color-dark, 70%);
  background: $color-light;
  
  .carousel-image{
    margin: 20px;
    width: 400px;
    height: 300px;
    object-fit: fill;
    float: left;
    border-radius: 5px;
  }
}

/*Gallery*/
.gallery{
  display: flex;
  flex-wrap: wrap;
  padding-top: 86px;
  margin-top: 56px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  max-width: 800px;

  .gallery-wrapper {
    display: inline-flex;
    flex: 30%;
    position: relative;
    padding: 10px;
    background: $color-light;
  }

  .gallery-item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .gallery-image{
    object-fit: cover;
    position: relative;
    border-radius: 5px;
    height: 240px;
    width: 260px;
    padding: 5px;
    z-index: 5;

    &:hover{
      z-index: 4;
    }
  }
}

.gallery-icon{
  position: absolute;
  display: inline-flex;
  z-index: 4;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;

  a{
    margin-right: 25px;
  }

  &:hover{
    z-index: 6;
  }

  .fa-heart{
    color: white;

    &:hover{
      color: red;
      font-size: 32px;
      transition: 1s;
    }
  }
  
  .fa-share{
    color: white;

    &:hover{
      color: rgb(4, 211, 97);
      font-size: 32px;
      transition: 1s;
    }
  }
}

/*footer*/

.footer{
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 42px;
  padding: 5px;
  background-color: $color-dark;
  padding-top: 48px;
  width: 108%;
  margin-left: -4%;
  margin-top: 10%;
  margin-bottom: -23%;
}

.footer:hover{
  color: rgb(76, 146, 250);
  transition: 1s;
}